// Змінні
$purple: #ce4ff2;
$gray-dark: #444444;
$gray-mid: #54548a;

// Відступи
.pad {
  padding-left: 110px;
  padding-right: 110px;
}

// Timeline
.timeline-item,
.timeline-item-2 {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  font-family: Arial, sans-serif;
  margin-bottom: 30px;
}

.timeline-item-2 {
  margin-top: -60px;
}

.left-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle-3,
.circle-6,
.circle-7,
.circle-8 {
  width: 12px;
  height: 12px;
  border: 2px solid $purple;
  border-radius: 50%;
}

.circle-3 {
  margin-top: 7px;
}

.circle-6 {
  margin-top: 33px;
}

.circle-7 {
  margin-top: 15px;
}

.circle-8 {
  margin-top: 13px;
}

.line,
.line-2,
.line-3,
.line-4,
.line-5 {
  background: $gray-mid;
}

.line {
  width: 1px;
  height: 100px;
  margin-top: 10px;
}

.line-2 {
  width: 1px;
  height: 88px;
  margin-top: 10px;
}

.line-3 {
  width: 1px;
  height: 115px;
  margin-top: 55px;
  margin-left: -7px;
}

.line-4 {
  width: 1px;
  height: 115px;
  margin-top: 35px;
  margin-left: -7px;
}

.line-5 {
  width: 1px;
  height: 70px;
  margin-top: 35px;
  margin-left: -7px;
}

.content {
  flex: 1;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.position {
  font-size: 22px;
  text-transform: uppercase;
  color: $purple;
  font-weight: 700;
}

.date,
.date-2 {
  font-weight: 600;
  color: #C64BFF;
}

.date {
  padding-left: 135px;
}

.date-2 {
  padding-left: 170px;
}

.company {
  color: $gray-dark;
  font-weight: 600;
  margin-top: -10px;
  font-size: 15px;
}

p {
  width: 874px;
  height: 92px;
  font-size: 18px;
  line-height: 20px;
  color: $gray-dark;
  font-weight: 400;
  margin-top: 15px;
}

.skill-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 70%;
  margin-top: 30px;
}

.left-3 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dot {
  width: 8px;
  height: 8px;
  border: 2px solid #333;
  border-radius: 50%;
}

.skill-name {
  width: 180px;
  font-size: 16px;
}

.slider {
  margin-top: 10px;
  -webkit-appearance: none;
  width: 35%;
  height: 5px;
  border-radius: 5px;
  outline: none;
  pointer-events: none;
  background: linear-gradient(to right,#f4cdff 50%, $purple 50%);

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background-color: $purple;
    border: none;
  }
}

.text-6 {
  font-size: 15px;
  color: $gray-dark;
  font-weight: 700;
}

.text-7 {
  font-size: 28px;
  text-transform: uppercase;
  color: $gray-dark;
  font-weight: 800;
  margin-left: 18px;
}

.it {
  font-size: 24px;
  color: $purple;
}

.it-2 {
  font-size: 20px;
  color: $purple;
}

.about-me {
  display: flex;
  max-width: 100%;
  text-align: center;
  justify-content: flex-end;
  margin-top: 8px;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $purple;
    color: white;
    height: 45px;
    border-radius: 50px;
    font-weight: 800;
    font-size: 24px;
    gap: 10px;
    margin-bottom: 15px;
    width: 230px;
  }
}

.lg {
  color: $gray-dark;
  font-weight: 400;
  text-align: right;
  margin-left: -420px;
  margin-top: -30px;
}

.text-8 {
  margin-top: 30px;
  font-size: 18px;
  color: $gray-dark;
  font-weight: 400;
  line-height: 1.4;
}

.education-wrapper {
  width: 450px;
  margin-left: auto;
}

.text-18 {
  font-size: 28px;
  text-transform: uppercase;
  color: $gray-dark;
  font-weight: 800;
}

.fa-graduation-cap {
  color: $purple;
  margin-top: 8px;
}

.pda {
  font-size: 28px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.text-21 {
  font-size: 20px;
  text-transform: uppercase;
  color: $purple;
  font-weight: 900;
}

.text-19 {
  font-size: 14px;
  color: $purple;
  font-weight: 700;
}

.text-20 {
  font-size: 15px;
  text-transform: uppercase;
  color: $gray-dark;
  font-weight: 600;
}

.text-22 {
  padding-top: 15px;
  font-size: 17px;
  line-height: 17px;
  color: $gray-dark;
  font-weight: 400;
}

.pp,
.pp-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 87%;
}

.pp {
  margin-left: 50px;
}

.pp-2 {
  margin-left: 52px;
}

.kk {
  display: flex;
  justify-content: center;
  margin-left: 15px;
}
