$color-light: #f1f1f1;
$color-light-2: #e6e6e6;
$color-dark: #444;
$color-purple: #ce4ff2;
$color-white: #fff;

@mixin circle-shape($bg-color, $z, $pos-left: null, $pos-right: null, $bottom: null) {
  width: 350px;
  height: 320px;
  position: absolute;
  background-color: $bg-color;
  border-top-left-radius: 200%;
  border-top-right-radius: 200%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: $z;
  @if $pos-left != null {
    left: $pos-left;
  }
  @if $pos-right != null {
    right: $pos-right;
  }
  @if $bottom != null {
    bottom: $bottom;
  }
}

* {
  box-sizing: border-box;
}

.cut-circle,
.cut-circle-right {
  width: 98.9%;
  height: 300px;
  overflow: hidden;
  position: relative;
  margin-left: 6px;
}

.circle {
  @include circle-shape($color-light, 2, -70px, null, -150px);
}

.circle-2 {
  @include circle-shape($color-light-2, 1, -220px, null, -70px);
}

.circle-right {
  @include circle-shape($color-light, 2, null, -60px, -130px);
}

.circle-right-2 {
  @include circle-shape($color-light-2, 1, null, -220px, -50px);
}

.center-oval {
  position: absolute;
  top: 43%;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 170px;
  background-color: $color-dark;
  border-radius: 100px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.right {
  display: flex;
  gap: 15px;
}

.text-1 {
  font-size: 36px;
  text-transform: uppercase;
  color: $color-purple;
  font-weight: 700;
  padding-right: 15px;
}

.text-2 {
  font-size: 16px;
  text-transform: uppercase;
  color: $color-white;
  font-weight: 500;
  text-align: right;
  line-height: 25px;
}

.ll {
  display: flex;
  gap: 20px;
  padding-right: 15px;
}

.i {
  margin-top: 9px;
  width: 6px;
  height: 6px;
  background-color: $color-white;
  border-radius: 50%;
}

.v-line {
  margin-top: 35px;
  width: 2px;
  height: 113px;
  background-color: $color-white;
}

.text-3 {
  padding-top: 3px;
  font-size: 30px;
  text-transform: uppercase;
  color: $color-purple;
  font-weight: 700;
}

.text-4 {
  padding-top: 6px;
  font-size: 18px;
  text-transform: uppercase;
  color: $color-white;
  font-weight: 600;
}

.text-5 {
  font-size: 12px;
  color: $color-white;
  font-weight: 600;
}
