<div>
    <div class="cut-circle cut-circle-right">
        <div class="circle"></div>
        <div class="circle-2"></div>
        <div class="center-oval">
            <div class="row px-0">
                <div class="col-6 px-0 left">
                    <span class="text-1">HOBBIES</span>
                    <div class="ll"><span class="text-2">READING BOOKS</span><div class="i"></div></div>
                    <div class="ll"><span class="text-2">PLAYING FOOTBALL</span><div class="i"></div></div>
                    <div class="ll"><span class="text-2">TRAVELING</span><div class="i"></div></div>
                </div>
                <div class="col-6 px-0 right">
                    <div class="v-line"></div>
                    <div><div class="text-3">REFERENCES</div>
                        <div>
                            <div class="text-4">MICHAEL R. MAGEE</div>
                            <div class="text-5">4418 Bobcat Drive Southfield, MI 48034</div>
                        </div>
                        <div>
                            <div class="text-4">TRAVIES M. GODINEZ</div>
                            <div class="text-5">2755 Oakmound Drive Chicago, IL 60605</div>
                        </div></div>
                </div>
            </div>
        </div>
        <div class="circle-right"></div>
        <div class="circle-right-2"></div>
    </div>

</div>