<div>
    <div class="photo-mask">
        <img src="img/images.jpg" alt="" class="img">
    </div>
    <div class="photo-mask-2"></div>
    <div class="photo-mask-3"></div>
    <div class="name-bg">
        <div class="text-9">THOMAS<span class="text-10">SMITH</span></div>
    </div>
    <span class="text-11">GRAPHIC & WEB DESIGNER</span>
    <div class="contact"><i class="fa-solid fa-phone"></i><span class="text-12">CONTACT ME</span></div>
    <div>
        <br>
        <div class="v-line-2"></div>
        <div class="tx">
            <span class="text-13">+1-856-822-2156</span>
            <div class="circle-4"></div>
        </div>
        <div class="tx-2">
            <span class="text-14">www.yourwebsite.com</span><br>
            <span class="text-15">yourinfo@email.com</span>
            <div class="circle-5"></div>
        </div>

        <div class="tx-3">
            <span class="text-17">1173 Valley Street</span><br>
            <span class="text-16">Camden, NJ 08102</span>
            <div class="circle-5"></div>
        </div>
    </div>
</div>
<br>
<br>
<br>

